@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gyanko:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=General+Sans+Variable:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

a {
  text-decoration: none;
  color: inherit;
}